*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --blue-color: #104f93;
    --dark-color: #000;
    --white-color: #fff;
    --padding-top: 5px;
    --padding-bottom: 8px;
}

ul{
    list-style-type: none;
}
ul li{
    margin: 2px 0;
}

/* text colors */
.text-dark{
    color: var(--dark-color);
}
.text-blue{
    color: var(--blue-color);
}
.text-end{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-start{
    text-align: left;
}
.text-bold{
    font-weight: 700;
}
.text-italic{
    font-style: italic;
}
/* hr line */
.hr{
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
}
/* border-bottom */
/* .border-bottom{
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
} */

body{
    font-family: 'Poppins', sans-serif;
    color: var(--dark-color);
    font-size: 14px;
}
.invoice-wrapper{
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
}
.invoice{
    max-width: 850px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--white-color);
    padding: 70px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-height: 920px;
}
.invoice-head-top-left img{
    width: 130px;
}
.invoice-head-top-right h3{
    font-weight: 500;
    font-size: 27px;
    color: var(--blue-color);
}
.invoice-head-middle, .invoice-head-bottom{
    padding: 16px 0;
}
.invoice-body{
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    overflow: hidden;
}
.invoice-body table{
    border-collapse: collapse;
    border-radius: 4px;
    width: 100%;
}
.invoice-body table td, .invoice-body table th{
    padding: var(--padding-top) var(--padding-bottom);
}
.invoice-body table tr{
    border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
}
.invoice-body table .Sub{
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    /* border-bottom: 1px dashed rgba(0, 0, 0, 0.5); */
}
.invoice-body table .Sub td {
    font-weight: 700;
}
.invoice-body table thead{
    background-color: rgba(0, 0, 0, 0.02);
}
.invoice-body-info-item{
    display: grid;
    grid-template-columns: 80% 20%;
}
.invoice-body-info-item .info-item-td{
    padding: var(--padding-top) var(--padding-bottom) 0 0;
    background-color: rgba(0, 0, 0, 0.02);
}
.invoice-body-info-item-terbilang{
    display: grid;
    grid-template-columns: 100%;
}
.invoice-body-info-item-terbilang .info-item-td{
    padding: var(--padding-top) var(--padding-bottom) 0 0;
    background-color: rgba(0, 0, 0, 0.02);
}
.invoice-body-bottom{
    padding: 20px 0 ;
}
.invoice-foot{
    padding: 30px 0;
}
.invoice-foot p{
    font-size: 12px;
}
.invoice-btns{
    margin: 10px 10px;
    display: flex;
    justify-content: center;
}
.invoice-btns > label{
    margin: 3px 3px;
    display: flex;
    justify-content: center;
}
.invoice-btn{
    padding: 3px 9px;
    color: var(--dark-color);
    font-family: inherit;
    border: 1px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.invoice-head-top, .invoice-head-middle, .invoice-head-bottom{
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 60% 10% 30%;
    padding-bottom: 10px;
}

.text-center>ul>li>img {
    margin-top: 20px;
    height: 60px;
    width: auto;
}

.results{
    margin-top: 20px;
}

#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
 }
 #loading.display {
    visibility: visible;
 }
 #textOutput {
    visibility: hidden;
 }
 #textOutput.display {
    visibility: visible;
 }

@media screen and (max-width: 992px){
    .invoice{
        padding: 40px;
    }
}

@media screen and (max-width: 576px){
    .invoice-head-top, .invoice-head-middle, .invoice-head-bottom{
        grid-template-columns: repeat(1, 1fr);
    }
    .invoice-head-bottom-right{
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .invoice *{
        text-align: left;
    }
    .invoice{
        padding: 28px;
    }
}

.overflow-view{
    overflow-x: scroll;
}
.invoice-body{
    min-width: 600px;
}

@media print{
    .print-area{
        visibility: visible;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
    }

    .overflow-view{
        overflow-x: hidden;
    }

    .invoice-btns{
        display: none;
    }

    .invoice {
      padding: 0 !important;
      margin-right: 2px;
      border: 0 solid rgb(255, 255, 255);
    }
    .hilang {
        visibility: hidden;
        display: none;
    }
    #hilang{
        display: none;
    }
    #catatan {
        display: none;
    }
}