/* table.dataTable th, table.dataTable td {
   border: 1px solid black;
} */

table.dataTable tbody td {
   vertical-align: middle;
}

.absen{
    font-weight: bold;
}

.lansia{
   color: red; 
   font-weight: bold;
}

td.highlight {
   background-color: rgba(var(--dt-row-hover), 0.052) !important;
}

div.dropdown-menu.dt-button-collection.fixed.columns div[role=menu] {
   height: 500px;
   width: auto;
}

div.dt-button-collection .dt-button-active {
   border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
}

div.dt-button-collection-title {
   border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

body.dt-print-view h1 {
   font-size: 1.5rem;
   text-align: left;
   margin: 0.5em 0.5em 0.5em 0em;
}
body.dt-print-view div {
   font-size: 1rem;
   text-align: left;
   margin: 0em 0em 2em 0em;
}
.nav {
   margin: 20px 0;
   font-size: 0.8rem;
}
.nav li {
   margin: 3px;
}
.nav-link {
   padding: 0.3rem 0.7rem;
   cursor: pointer;
}

@media print {
   .table-striped tbody tr:nth-of-type(odd) td {
       background-color: rgba(0,0,0,.04) !important;
       -webkit-print-color-adjust: exact;
   }
 }